input {
  width: 500px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: solid grey;
}
p {
  margin-left: 20px;
  padding-bottom: 20 px;
}
button {
  margin-left: 20px;
  padding-bottom: 20 px;
}